/* css rules  */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Medium.ttf);
    font-weight: 400;
}

/* colors  */

/* pink:   #FF4676
blue:   #68D8EE
yellow: #FFE17A
purple: #DB7CF2 */

/* css global  */
body {
    font-family: "Roboto";
    margin: 0;
}
h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}

.menu-icons {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu-icons:hover {
    color: rgba(0, 0, 0, 0.608);
}


.cta {
    background-color: #FF4676;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
}


.cta--secondary {
    background-color: white;
    border: 1px solid #FF4676;
    color: #FF4676;
}

/* Catégorie header  */
.header {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}


.header > ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

/* catégorie banner  */

#banner {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: auto;
}
