/* css rules  */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Medium.ttf);
    font-weight: 400;
}

/* colors  */

/* pink:   #FF4676
blue:   #68D8EE
yellow: #FFE17A
purple: #DB7CF2 */

/* css global  */
body {
    font-family: "Roboto";
    margin: 0;
}
h1, h2, h3 {
    text-transform: uppercase;
    margin: 10px;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}

p, ul {
    font-size: 1.25rem;
    margin: 0 auto;
}

ul { 
    list-style: none;
}

.menu-icons {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.menu-icons:hover {
    color: rgba(0, 0, 0, 0.608);
}

.cta {
    background-color: #FF4676;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
}

.cta--secondary {
    background-color: white;
    border: 1px solid #FF4676;
    color: #FF4676;
    margin-top: 20px;
}

/* section header  */
.header {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}

.header > ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* section banner  */
#banner {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: auto;
    margin-bottom: 25px;
}

/* section approche  */
.approche-content-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.approche-container-secondary {
    display: flex;
    justify-content: center;
}

.content-img-container {
    margin-top: 2.5%;
}

.approche-content-secondary {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
    padding-left: 2%;
    line-height: 2rem;
    width: 33.854vw;
}

/* section explication méthode pep's  */
.method-content-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 8%;
}

.method-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.method-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    margin: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

.sources {
    font-size: 1rem;
    font-style: italic;
}

/* section accompagnement  */
.accompagnement-content-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    line-height: 2rem;
    margin-bottom: 3%;
}

.accompagnement-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.accompagnement-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accompagnement-card h3 {
    position: relative;
    z-index: 2;
}

.accompagnement-card h3::after {
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    height: 15px;
    background-color: #68d8ee;
}

.accompagnement-card:not(:first-child) > h3::after {
    content: "";
    background-color: #FFE17A;
}

.accompagnement-card:nth-child(3) > h3::after {
    content: "";
    background-color: #DB7CF2;
}

/* section reviews  */

.reviews-content-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.reviews-content-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    line-height: 1.5rem;
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #68D8EE;
    width: 20%;
    height: 70.92vh;
    padding: 10px;
}
.reviewcard-content {
    padding: 50px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../img/Mask\ Group.jpg);
    background-size: cover;
}

.reviews-content-secondary > .review-card:nth-of-type(2) > .photo-container {
    background-image: url(../img/Mask\ Group-1.jpg);
}

.reviews-content-secondary > .review-card:nth-of-type(3) > .photo-container {
    background-image: url(../img/Mask\ Group\ \(1\).jpg);
} 

/* section blog  */

.blog-content-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}